<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= link_to @article.title, article_url(@article) %></p>

    <p> Отписаться от новостей категории <%= link_to 'Отписаться', subscriptions_unsubscribe_path(user_id: @user_id,category_id: @category_id)%></p>
  </body>
</html>